@use "../../styles/variables/colors" as c;

form {
  margin: 1rem 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: c.$light-gray-color;
  }

  .form-btn {
    width: 60%;
    padding: 1rem 0;
    margin-left: 4rem;
    background-color: c.$dark-color;
    color: c.$light-color;
  }
}